/* header section styles */
.header {
    background-image: url('../assets/Hero-bg.png');

}

.header-section {
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 80px;
}

.header-img {
    width: 240.28px;
    height: 240px;
    margin-top: 100px;

}

.header-text-h1 {
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}

.header-text-p {
    color: darkgrey;
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 400;
}

.header-text-p button {
    margin-top: 20px;
    margin-left: 450px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 10px;
    width: 244px;
    height: 65px;
}

/* main-container styles */
.main-section {

    text-align: center;
    margin-top: 70px;
    width: 1140px;
    height: 1393px;
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
    margin-left: 200px;

}

.main-section div h1 {
    width: 852px;
    height: 37px;
    padding: 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 50px;
    font-weight: 800;
    margin-left: 170px;
}

.main-section div p {
    color: darkgrey;
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 400;
}

.main-section-two {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.main-section-two div h5 {
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 700;
}

.main-section-two div p {
    width: 468px;
    height: 52px;
    color: darkgrey;
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
}

.main-section-two div button {
    width: 131px;
    height: 23px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    width: 171px;
    height: 47px;
    margin-right: 80px;
    margin-top: 20px;
}

.main-section-two div img {
    font-size: 00px;
    width: 550px;
    height: 350px;
    margin-top: 40px;

}

/* My Inspiration styles */
.Inspiration {
    width: 1076px;
    height: 750px;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 30px;
}

.Inspiration-one {
    margin-left: 160px;
}

.Inspiration-one h1 {
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.Inspiration-one p {
    color: darkgrey;
    width: 852px;
    height: 52px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.Inspiration-two iframe {
    margin-left: 5px;
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    padding: auto;
}

/* target section styles */


.target-container {
    display: flex;
    justify-content: space-evenly;

}

.target-text h1 {
    width: 852px;
    height: 37px;
    padding: 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 50px;
    font-weight: 800;
    margin-left: 650px;
}

.target-text p {
    margin-left: 550px;
    width: 852px;
    height: 52px;
    color: darkgrey;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
}

.target-box {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);


}

.target-box-second {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.target-box-third {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.target-box-one img {
    height: 50px;
}

.target-box-one h2 {
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.target-box-one a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    width: 284px;
    height: 19px;
}

.target-box-one {
    padding: 40px;
}